.contact {
  padding: 80px;
  background: #111111;
  color: white;
  max-width: 600px;
  margin: auto;
}

.contact h2 {
  font-size: 32px;
  margin-bottom: 16px;
}

.contact p {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #000000;
  color: white;
}

.contact-form button {
  margin-top: 10px;
  padding: 12px;
  border-radius: 999px;
  border: none;
  background: white;
  cursor: pointer;
}
